.members__background
  position relative

.members__list
  position relative

.members__list__entry
  border 1px solid #999
  padding 20px
  margin-top 15px
  background-color #DDE

.members__list__entry__title
  font-weight bold

.members__button-add
  border-radius 10px
  padding 10px 20px
  background-color green
  color white
  margin-top 25px
  display inline-block
  
.members__button-edit
  border-radius 10px
  padding 5px 10px
  background-color blue
  color white
  margin-left 25px
  display inline-block