.member-edit__background
  position relative

.member-edit__display
  position relative

.member-edit__button-save
  border-radius 10px
  padding 10px 20px
  background-color green
  color white
  margin-top 25px
  margin-left 25px
  display inline-block
  
.member-edit__button-cancel
  border 2px solid black
  border-radius 10px
  padding 10px 20px
  background-color white
  margin-top 25px
  margin-left 25px
  display inline-block
  
.member-edit__button-delete
  border-radius 10px
  padding 10px 20px
  background-color red
  color white
  margin-top 25px
  margin-left 25px
  display inline-block