.team-create__background
  position relative

.team-create__display
  position relative

.team-create__button-save
  border-radius 10px
  padding 10px 20px
  background-color green
  color white
  margin-top 25px
  margin-left 25px
  display inline-block
  
.team-create__button-cancel
  border 2px solid black
  border-radius 10px
  padding 10px 20px
  background-color white
  margin-top 25px
  margin-left 25px
  display inline-block
