.teams__background
  position relative

.teams__list
  position relative

.teams__list__entry
  border 1px solid #999
  padding 20px
  margin-top 15px
  background-color #DDE

.teams__list__entry__title
  font-weight bold

.teams__list__entry__members
  padding 25px

.teams__list__entry__member
  background-color #CCC
  margin-top 10px

.teams__list__entry__member__name
  font-weight bold

.teams__list__entry__member__position
  font-size 13px

.teams__button-add
  border-radius 10px
  padding 10px 20px
  background-color green
  color white
  margin-top 25px
  display inline-block
  
.teams__button-edit
  border-radius 10px
  padding 5px 10px
  background-color blue
  color white
  margin-left 25px
  display inline-block